<%- include("../partials/header") %> 
<header class="jumbotron jumbotron-fluid mt-3">
    <div class="container">
        <h1 class="display-4">Welcome to YelpCamp!</h1>
        <p class="lead">View our hand-picked campgrounds from all over the world</p>
        <p>
            <% if(currentUser){ %> 
            <a class="btn btn-primary btn-large" href="/campgrounds/new">Add a Campground</a>
            <% }%> 
        </p>
    </div>
</header>


<div class="row text-center" style="display:flex; flex-wrap: wrap;">    
    <p>
        <div class="card-columns container">
            <% campgrounds.forEach(campground => { %>
                <div class="card mb-3">
                    <img class="card-img-top" src="<%= campground.image %>">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.name %>
                        </h5>
                        <p>
                            <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>             
            <% }); %> 
        </div>
        
    </p>
</div>
<a href="/">go back</a>
<%- include("../partials/footer") %> 