<%- include("../partials/header") %> 
<header class="jumbotron jumbotron-fluid mt-3 mb-3 p-5">
    <div class="container">
        
        <div class="display-4">
            Welcome to YelpCamp!
        </div>
        <p class="ml-10 lead">View our hand-picked campgrounds from all over the world</p>
        <p>
            <% if(currentUser){ %> 
            <a class="btn btn-primary btn-large" href="/campgrounds/new">Add a Campground</a>
            <% }%> 
        </p>
    </div>
</header>
        <div class="container-fluid p-0">
            <div class="row mx-auto">
                <% campgrounds.forEach(campground => { %>
                    <div class="card rounded-0 border-light p-0 mb-3 col-md-6 col-lg-4 text-center">
                        <img class="card-img-top rounded-0" src="<%= campground.image %>">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= campground.name %>
                            </h5>
                            <p>
                                <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">More Info</a>
                            </p>
                        </div>
                    </div>             
                <% }); %> 
            </div>
        </div>
        
<a href="/">go back</a>
<%- include("../partials/footer") %> 