<%- include("../partials/header") %> 
<div class="row mt-3">
    <div class="col-md-3">
        <div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </div>
    </div>
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" src="<%= campground.image %> " alt="beach scene">
            <div class="caption-full">
                <h4 class="text-right">$<%= campground.price %>/night </h4>
                <h4><a href="#"><%= campground.name %></a></h4>
                <p><%= campground.description %> </p>
                <p>
                    <h5><em>Submitted by <%= campground.author.username %></em></h5>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %> 
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %> 
                    <a class="btn btn-primary" href="/campgrounds">back to campgrounds</a>
                </p>
            </div>
        </div>
        <div class="card-body bg-light mb-3">
            <div class="text-right">
                <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Leave a Review</a>
            </div>
            <hr>
            <% campground.comments.forEach(comment => { %>
                <div class="row">
                    <div class="col-md-12 pt-2">
                        <strong><%= comment.author.username %> </strong>
                        <span class="pull-right">10 days ago</span>
                        <p>
                            <%= comment.text %> 
                        </p>
                        <% if(currentUser){ %> 
                        <a class="btn btn-sm btn-warning" 
                            href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                            Edit
                        </a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                        </form>
                        <% } %> 
                    </div>
                </div>
            <% }); %>   
        </div>
    </div>
    </div>
<%- include("../partials/footer") %> 